.app{
  height: 100vh;
  background: lightgreen;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tweet{
  height: 200px;
  width: 200px;
  background: gray;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 8px solid black;
}

.blue{
  color: blue;
  font-size: 32px;
}